@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  
  @keyframes typing {
    40% , 60% {
      left: calc(100% + 5px);
    }
    100% {
      left: 0%;
    }
  }
  
  @keyframes trans {
    0% {
      transform: translateY(4px);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(4px);
    }
  }
  
  @keyframes left-move {
    50% {
      left: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      left: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
  }
  @keyframes right-move {
    50% {
      right: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      right: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
  }