$main-bg-black: #16161a;
$headline: #fffffe;
$paragraph: #94a1b2;
$alt-paragraph: #72757e;
$button: #7f5af0;
$spcial : #560bad;
$color_h:#0ff;
$main-padding: 50px;
$main-transition: .3s;
$animation-transition : 3s;
// #190618 pp
// #020004 bp
// #000216 bb
// #171a5b wb


// #252e40